@charset "UTF-8";
@import url(sanitize.css);
@font-face {
	font-family: 'KleeOne';
	src: url(font/KleeOne-Regular.ttf);
}

// 変数定義ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

$main-color: #000000;
$font_color1: #A82C2C;
$font_color2: #DCDCDC;
$font_color3: #DD3B1B;
$font-family1: 'New Tegomin', serif;
$font-family2: 'KleeOne';

$breakpoints: (
  'sm': 'screen and (max-width: 500px)',
  'md': 'screen and (max-width: 900px)',
  'lg': 'screen and (max-width: 1350px)',
  'xl': 'screen and (min-width: 1350px)',

) !default;

@mixin mq($breakpoint: md){
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}

// 共通部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

*{
    margin: 0;
    border: 0;
    padding: 0;
    color: $font_color2;
    font-family: $font-family2;
}

.novel-text{
    font-size: 1vw;
    color: $font_color2;
    line-height: 2;
    opacity: 0.4;
}


body{
    background-color: $main-color;
    background-image: url(img/comp.png);
    background-color:rgba(255, 255, 255, 0.13);
    background-blend-mode: lighten;
    background-size: cover;
    margin-bottom: 100rem;
}
// ヘッダー部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

header{
    .header-img{
        background-image: url(img/header.jpg);
        background-size: cover;
        position: relative;
        padding-bottom: 4vw;
        z-index: -1;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
        }
        .logo{
            padding: 2vw 0 0 7vw;
            position: relative;
            z-index: 1;
            h1{
                margin: 0;
                line-height: 1.1;
                .md-red{
                    font-size: 3vw;
                    color: $font_color1;
                    font-family: $font-family1;
                }
                .sm-white{
                    font-size: 2vw;
                    color: $font_color2;

                }
                .lg-lightred{
                    font-size: 4vw;
                    color: $font_color3;
                    font-family: $font-family1;
                }
                .lg-red{
                    font-size: 4vw;
                    color: $font_color1;
                    font-family: $font-family1;
                }
                .lg-white{
                    font-size: 4vw;
                    color: $font_color2;
                    font-family: $font-family1;
                }
            }
        }

        h2{
            font-size: 4vw;
            margin: 14vw 0 0 0;
            text-align: center;
            position: relative;
            z-index: 1;
            span{
                font-size: 5vw;
                font-family: $font-family1;
                color: $font_color1;
            }
        }
        .novel-text{
            margin: 10vw 0 0 9vw;
            position: relative;
            z-index: 1;
        }
    }
}

// imgのフィルターとaの背景調整…
.story{
    position: relative;
    h3{
        font-size: 3vw;
        color: $font_color3;
        margin: 7vw 0 0 0;
        text-align: center;
    }
    .story-text{
        font-size: 1.2vw;
        text-align: center;
        margin: 3.5vw 0 0 0;
        line-height: 1.6;
        span{
            font-size: 1.5vw;
            font-family: $font-family1;
            color: $font_color1;
        }
    }
    img{
        position: absolute;
        z-index: -1;
        top: 3.5vw;
        left: 18vw;
        width: 42%;
        height: 60%;
    }
    .ticket-link{
        margin: 4vw 0 0 0;
        text-align: center;
        a{
            display: inline-block;
            // background-image: url(img/link.jpg);
            background-color: $font_color1;
            font-size: 1.5vw;
            text-decoration: none;
            padding: 1vw 1.5vw;
            color: $main-color;
            font-weight: bold;
        }
    }
    .novel-text{
        text-align: right;
        opacity: 40%;
        z-index: 2;
        margin: -4vw 2rem 0 0;
    }
}

// imgのぼかし、透過
.mission{
    position: relative;
    h3{
        font-size: 3vw;
        color: $font_color3;
        margin: 0 0 0 0;
        text-align: center;
    }
    .mission-text{
        font-size: 1.2vw;
        text-align: center;
        margin: 4vw 0 0 0;
        line-height: 1.6;
        p{
            &:last-child{
                margin-top: 3rem;
            }
        }
        span{
            font-size: 1.5vw;
            font-family: $font-family1;
            color: $font_color1;
        }
    }
    img{
        position: absolute;
        z-index: -1;
        top: 3vw;
        left: calc((100% - 42%) / 2);;
        width: 42%;
        height: 50%;
    }
    .novel-text{
        margin: -2rem 0 0 2rem;
        .right{
            text-align: right;
            margin: 0 2rem 0 0;
        }
    }
}


.ticket{
    position: relative;
    margin-top: -13vw;
    h3{
        font-size: 3vw;
        color: $font_color3;
        margin: 0 0 0 0;
        text-align: center;
    }
    table{
        display: inline-block;
        margin: 5vw 15vw 0 15vw;
        tr{
            display: inline-block;
            &:nth-child(2){
                margin: 0 12vw;
            }
            &:last-child{
                margin: 0.5vw 7.5vw;
                td{
                    margin: 0.5vw 0 0 6vw;
                    &:nth-child(2){
                        margin-left: 10vw;
                    }
                }
            }
        }
        td{
            font-size: 1.5vw;
            text-align: right;
            display: inline-block;
            margin: 1.6vw 0 0 6vw;
        }
        th{
            display: inline-block;
            font-size: 2vw;
            color: $font_color3;
            &:first-child{
                margin: 0 13vw;
            }
            &:nth-child(2){
                margin: 0 7.5vw;
            }
        }
        &:nth-child(2){
            td{
                // margin: 1.6vw 0 0 6vw;
                span{
                    font-size: 1.2vw;
                    margin-left: 3vw;
                }
                &:nth-child(2){
                    margin-left: 14.5vw;
                }
            }
        }
    }
    img{
        position: absolute;
        z-index: -1;
        top: 3vw;
        left: calc((100% - 60%) / 2);;
        width: 60%;
        height: 70%;
    }
    .ticket-link{
        margin: 2.5vw 0 0 0;
        text-align: center;
        a{
            display: inline-block;
            // background-image: url(img/link.jpg);
            background-color: $font_color1;
            font-size: 1.5vw;
            text-decoration: none;
            padding: 1vw 2vw;
            color: $main-color;
            font-weight: bold;
        }
    }
    .ticket-text{
        font-size: 1vw;
        text-align: center;
        margin: 2vw 0 0 0;
        line-height: 2;
        p{
            &:last-child{
                margin-top: 3rem;
            }
        }
    }
}

