@import url(sanitize.css);
@font-face {
  font-family: 'KleeOne';
  src: url(font/KleeOne-Regular.ttf);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  color: #DCDCDC;
  font-family: "KleeOne";
}

.novel-text {
  font-size: 1vw;
  color: #DCDCDC;
  line-height: 2;
  opacity: 0.4;
}

body {
  background-color: #000000;
  background-image: url(img/comp.png);
  background-color: rgba(255, 255, 255, 0.13);
  background-blend-mode: lighten;
  background-size: cover;
  margin-bottom: 100rem;
}

header .header-img {
  background-image: url(img/header.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 4vw;
  z-index: -1;
}

header .header-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

header .header-img .logo {
  padding: 2vw 0 0 7vw;
  position: relative;
  z-index: 1;
}

header .header-img .logo h1 {
  margin: 0;
  line-height: 1.1;
}

header .header-img .logo h1 .md-red {
  font-size: 3vw;
  color: #A82C2C;
  font-family: "New Tegomin", serif;
}

header .header-img .logo h1 .sm-white {
  font-size: 2vw;
  color: #DCDCDC;
}

header .header-img .logo h1 .lg-lightred {
  font-size: 4vw;
  color: #DD3B1B;
  font-family: "New Tegomin", serif;
}

header .header-img .logo h1 .lg-red {
  font-size: 4vw;
  color: #A82C2C;
  font-family: "New Tegomin", serif;
}

header .header-img .logo h1 .lg-white {
  font-size: 4vw;
  color: #DCDCDC;
  font-family: "New Tegomin", serif;
}

header .header-img h2 {
  font-size: 4vw;
  margin: 14vw 0 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

header .header-img h2 span {
  font-size: 5vw;
  font-family: "New Tegomin", serif;
  color: #A82C2C;
}

header .header-img .novel-text {
  margin: 10vw 0 0 9vw;
  position: relative;
  z-index: 1;
}

.story {
  position: relative;
}

.story h3 {
  font-size: 3vw;
  color: #DD3B1B;
  margin: 7vw 0 0 0;
  text-align: center;
}

.story .story-text {
  font-size: 1.2vw;
  text-align: center;
  margin: 3.5vw 0 0 0;
  line-height: 1.6;
}

.story .story-text span {
  font-size: 1.5vw;
  font-family: "New Tegomin", serif;
  color: #A82C2C;
}

.story img {
  position: absolute;
  z-index: -1;
  top: 3.5vw;
  left: 18vw;
  width: 42%;
  height: 60%;
}

.story .ticket-link {
  margin: 4vw 0 0 0;
  text-align: center;
}

.story .ticket-link a {
  display: inline-block;
  background-color: #A82C2C;
  font-size: 1.5vw;
  text-decoration: none;
  padding: 1vw 1.5vw;
  color: #000000;
  font-weight: bold;
}

.story .novel-text {
  text-align: right;
  opacity: 40%;
  z-index: 2;
  margin: -4vw 2rem 0 0;
}

.mission {
  position: relative;
}

.mission h3 {
  font-size: 3vw;
  color: #DD3B1B;
  margin: 0 0 0 0;
  text-align: center;
}

.mission .mission-text {
  font-size: 1.2vw;
  text-align: center;
  margin: 4vw 0 0 0;
  line-height: 1.6;
}

.mission .mission-text p:last-child {
  margin-top: 3rem;
}

.mission .mission-text span {
  font-size: 1.5vw;
  font-family: "New Tegomin", serif;
  color: #A82C2C;
}

.mission img {
  position: absolute;
  z-index: -1;
  top: 3vw;
  left: calc((100% - 42%) / 2);
  width: 42%;
  height: 50%;
}

.mission .novel-text {
  margin: -2rem 0 0 2rem;
}

.mission .novel-text .right {
  text-align: right;
  margin: 0 2rem 0 0;
}

.ticket {
  position: relative;
  margin-top: -13vw;
}

.ticket h3 {
  font-size: 3vw;
  color: #DD3B1B;
  margin: 0 0 0 0;
  text-align: center;
}

.ticket table {
  display: inline-block;
  margin: 5vw 15vw 0 15vw;
}

.ticket table tr {
  display: inline-block;
}

.ticket table tr:nth-child(2) {
  margin: 0 12vw;
}

.ticket table tr:last-child {
  margin: 0.5vw 7.5vw;
}

.ticket table tr:last-child td {
  margin: 0.5vw 0 0 6vw;
}

.ticket table tr:last-child td:nth-child(2) {
  margin-left: 10vw;
}

.ticket table td {
  font-size: 1.5vw;
  text-align: right;
  display: inline-block;
  margin: 1.6vw 0 0 6vw;
}

.ticket table th {
  display: inline-block;
  font-size: 2vw;
  color: #DD3B1B;
}

.ticket table th:first-child {
  margin: 0 13vw;
}

.ticket table th:nth-child(2) {
  margin: 0 7.5vw;
}

.ticket table:nth-child(2) td span {
  font-size: 1.2vw;
  margin-left: 3vw;
}

.ticket table:nth-child(2) td:nth-child(2) {
  margin-left: 14.5vw;
}

.ticket img {
  position: absolute;
  z-index: -1;
  top: 3vw;
  left: calc((100% - 60%) / 2);
  width: 60%;
  height: 70%;
}

.ticket .ticket-link {
  margin: 2.5vw 0 0 0;
  text-align: center;
}

.ticket .ticket-link a {
  display: inline-block;
  background-color: #A82C2C;
  font-size: 1.5vw;
  text-decoration: none;
  padding: 1vw 2vw;
  color: #000000;
  font-weight: bold;
}

.ticket .ticket-text {
  font-size: 1vw;
  text-align: center;
  margin: 2vw 0 0 0;
  line-height: 2;
}

.ticket .ticket-text p:last-child {
  margin-top: 3rem;
}
/*# sourceMappingURL=index.css.map */