@charset "UTF-8";
@import url(sanitize.css);
@font-face {
    font-family: "KleeOne";
    src: url(font/KleeOne-Regular.ttf);
}

// 変数定義ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

$main-color: #000000;
$font_color1: #a82c2c;
$font_color2: #dcdcdc;
$font_color3: #dd3b1b;
$font-family1: "New Tegomin", serif;
$font-family2: "KleeOne";

$breakpoints: (
    "sm": "screen and (max-width: 550px)",
    "md": "screen and (max-width: 900px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// 共通部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

* {
    margin: 0;
    border: 0;
    padding: 0;
    color: $font_color2;
    font-family: $font-family2;
}

.novel-text {
    font-size: 1vw;
    color: $font_color2;
    line-height: 2;
    opacity: 0.4;
}

body {
    background-color: $main-color;
    background-blend-mode: lighten;
    background-size: cover;
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    justify-content: center;
    @include mq(md) {
        display: inline-block;
    }
}

.logo {
    padding: 2vw 0 0 7vw;
    position: relative;
    z-index: 1;
    margin: 0;
    line-height: 1.1;

    .md-red {
        font-size: 3vw;
        color: $font_color1;
        font-family: $font-family1;
    }
    .sm-white {
        font-size: 2vw;
        color: $font_color2;
    }
    .lg-lightred {
        font-size: 4vw;
        color: $font_color3;
        font-family: $font-family1;
    }
    .lg-red {
        font-size: 4vw;
        color: $font_color1;
        font-family: $font-family1;
    }
    .lg-white {
        font-size: 4vw;
        color: $font_color2;
        font-family: $font-family1;
    }
}

h3 {
    font-size: 3vw;
    color: $font_color3;
    text-align: center;
    @include mq(sm) {
        font-size: 6vw;
    }
}

// 音ボタンーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  #Audio-Control {
    overflow: hidden;
    margin-left: 90vw;
  }

  #Audio-Control button {
    border: 1px solid #ccc;
    width: 40px;
    float: left;
    padding: 5px 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  #Audio-Control button.on {
    border-left: none;
  }

  #Audio-Control button.off {
    border-right: none;
  }

  #Audio-Control button.active {
    background: #ccc;
    color: $main-color;
  }

  #Audio-Control button:not(.active):hover {
    background: rgba(204, 204, 204, 0.3);
  }

// ヘッダー部分ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

header {
    .header-img {
        background-image: url(img/header.jpg);
        filter: opacity(80%);
        background-size: cover;
        position: relative;
        padding-bottom: 4vw;
        z-index: -1;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
        }

        h2 {
            font-size: 4vw;
            margin: 14vw 0 0 0;
            text-align: center;
            position: relative;
            z-index: 1;
            span {
                font-size: 5vw;
                font-family: $font-family1;
                color: $font_color1;
            }
        }
        .novel-text {
            margin: 10vw 0 0 9vw;
            position: relative;
            z-index: 1;
        }
    }
}

// imgのフィルターとaの背景調整…
.story {
    position: relative;
    h3 {
        margin: 7vw 0 0 0;
        @include mq(sm) {
            margin-top: 14vw;
        }
    }
    .story-text {
        font-size: 1.2vw;
        text-align: center;
        margin: 3.5vw 0 0 0;
        line-height: 1.6;
        span {
            font-size: 1.5vw;
            font-family: $font-family1;
            color: $font_color1;
        }
    }
    img {
        position: absolute;
        filter: opacity(20%);
        z-index: -1;
        top: 3.5vw;
        left: 18vw;
        width: 42%;
        height: 60%;
    }
    .ticket-link {
        margin: 4vw 0 0 0;
        text-align: center;
        z-index: 50;
        a {
            display: inline-block;
            background: linear-gradient(rgba(218, 16, 16, 0.5), rgba(218, 16, 16, 0.5)), url(img/link.jpg);
            background-size: cover;
            font-size: 1.5vw;
            text-decoration: none;
            padding: 1vw 1.5vw;
            color: $main-color;
            font-weight: bold;
        }
    }
    .novel-text {
        text-align: right;
        z-index: 2;
        margin: 0 2rem 0 0;
    }
}

.mission {
    position: relative;
    h3 {
        margin: 0 0 0 0;
    }
    .mission-text {
        font-size: 1.2vw;
        text-align: center;
        margin: 4vw 0 0 0;
        line-height: 1.6;
        p {
            &:last-child {
                margin-top: 3rem;
            }
        }
        span {
            font-size: 1.5vw;
            font-family: $font-family1;
            color: $font_color1;
        }
    }
    img {
        position: absolute;
        filter: opacity(70%);
        z-index: -1;
        top: 3vw;
        left: calc((100% - 42%) / 2);
        width: 42%;
        height: 50%;
    }
    .novel-text {
        margin: -2rem 0 0 2rem;
        .right {
            text-align: right;
            margin: 0 2rem 0 0;
        }
    }
}

.ticket {
    position: relative;
    margin-top: -13vw;
    h3 {
        margin: 0 0 0 0;
    }
    table {
        display: inline-block;
        margin: 4.5vw 15vw 0 15vw;
        @include mq(md) {
            margin: 4.5vw 7vw 0 7vw;
            text-align: center;
        }
        tr {
            display: inline-block;
            &:nth-child(2) {
                margin: 0 12vw;
                @include mq(md) {
                    margin: 0 3vw 0 3vw;
                }
            }
            &:last-child {
                margin: 0.5vw 7.5vw;
                @include mq(md) {
                    margin: 4.5vw 1vw 0 1vw;
                }
                td {
                    margin: 0.5vw 0 0 6vw;
                    &:nth-child(2) {
                        margin-left: 10vw;
                    }
                }
            }
        }
        td {
            font-size: 1.5vw;
            text-align: right;
            display: inline-block;
            margin: 1.6vw 0 0 6vw;
            @include mq(md) {
                margin: 1.6vw 0 0 3vw;
            }
        }
        th {
            display: inline-block;
            font-size: 2vw;
            color: $font_color3;
            &:first-child {
                margin: 0 13vw;
            }
            &:nth-child(2) {
                margin: 0 7.5vw;
            }
        }
        &:nth-child(2) {
            td {
                // margin: 1.6vw 0 0 6vw;
                span {
                    font-size: 1.2vw;
                    margin-left: 3vw;
                }
                &:nth-child(2) {
                    margin-left: 14.5vw;
                }
            }
        }
    }
    img {
        position: absolute;
        filter: opacity(50%);
        z-index: -1;
        top: 0vw;
        left: calc((100% - 65%) / 2);
        width: 65%;
        height: 73%;
    }
    .ticket-link {
        margin: 2.5vw 0 0 0;
        text-align: center;
        a {
            display: inline-block;
            background: linear-gradient(rgba(218, 16, 16, 0.5), rgba(218, 16, 16, 0.5)), url(img/link.jpg);
            background-size: cover;
            font-size: 1.5vw;
            text-decoration: none;
            padding: 1vw 2vw;
            color: $main-color;
            font-weight: bold;
        }
    }
    .ticket-text {
        font-size: 1vw;
        text-align: center;
        margin: 1.5vw 0 0 0;
        line-height: 2;
        p {
            &:last-child {
                margin-top: 3rem;
            }
        }
    }
    .novel-text {
        margin: 2vw 0 0 2rem;
    }
}

.access {
    h3 {
        margin: -22vw 0 0 0;
    }
    .access-text {
        font-size: 1.2vw;
        text-align: center;
        margin: 4vw 0 0 0;
        line-height: 1.6;
        p {
            margin-top: 0.5vw;
        }
    }
    .access-img {
        margin-top: 2vw;
        @include mq(md) {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            text-align: center;
            margin: 2rem auto 0 auto;
        }
    }
    .map {
        iframe {
            width: 29vw;
            height: 25vw;
            @include mq(md) {
                width: 40vw;
            }
        }
    }
    img {
        width: 35vw;
        filter: opacity(55%);
        @include mq(md) {
            margin: 1rem auto 0 auto;
            width: 45vw;
        }
    }
    .novel-text {
        text-align: right;
        z-index: 2;
        margin: -8vw 2rem 0 0;
    }
}

.caution {
    .novel-text {
        p {
            text-align: left;
            z-index: 2;
            margin: 0rem 0 0 2rem;
        }
    }
    h3 {
        margin-top: 2vw;
    }
    .caution-text {
        margin: 1vw auto 0 auto;
        font-size: 1.2vw;
        text-align: center;
        line-height: 1.8;
        background-image: url(img/fire.jpg);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: darken;
        @include mq(md) {
            margin: 1vw 4vw 0 4vw;
        }
        p {
            margin: 1vw 0 0 0;
            padding: 6vw 0;
            display: inline-block;
            text-align: left;

            span {
                display: block;
                margin: 1vw 0 2vw 0;
            }
        }
    }
}

.command {
    position: relative;
    .novel-text {
        text-align: left;
        line-height: 5;
        margin: -4vw 2rem 0 0;
    }
    img {
        width: 70vw;
        position: absolute;
        filter: opacity(20%);
        z-index: -1;
        top: 12vw;
        left: calc((100% - 70%) / 2);
    }
    .command-text {
        p {
            font-family: $font-family1;
            font-size: 1vw;
            &:nth-child(1) {
                margin: 1vw 0 0 20vw;
            }
            &:nth-child(2) {
                margin: 5vw 0 0 40vw;
            }
            &:nth-child(3) {
                margin: 10vw 0 0 70vw;
            }
            &:nth-child(4) {
                margin: 6vw 0 0 22vw;
            }
            &:nth-child(5) {
                margin: 7vw 0 0 30vw;
            }
            &:nth-child(6) {
                margin: 0 0 0 37vw;
            }
            span {
                font-family: $font-family1;
                color: $font_color1;
                font-size: 1.5vw;
            }
            .large {
                font-size: 3vw;
            }
        }
    }
    input {
        background-color: $font_color1;
        border: none;
        outline: none;
        width: 20%;
        height: 2rem;
        padding: 0.5rem;
        display: flex;
        margin: 1vw auto 0 auto;
        @include mq(sm) {
            width: 40vw;
        }
    }
}

footer {
    @include mq(md) {
        width: 100%;
        text-align: center;
    }
    .logo {
        padding: 0;
        margin-top: 10rem;
        text-align: center;
        @include mq(sm) {
            margin-top: 20vw;
        }
    }
    .footer-text {
        margin: 6vw 4vw 0 0;
        @include mq(md) {
            margin: 1rem auto 0 auto;
        }
        .bold {
            font-weight: bold;
            margin-top: 1vw;
            @include mq(md) {
                margin-top: 1rem;
            }
        }
    }
    .footer-link {
        margin: 6vw 0 0 4vw;
        @include mq(md) {
            margin: 1rem auto 0 auto;
        }
        .tell-link {
            margin-top: 1vw;
            a {
                display: inline-block;
                background: linear-gradient(rgba(218, 16, 16, 0.5), rgba(218, 16, 16, 0.5)), url(img/link.jpg);
                background-size: cover;
                font-size: 1.57vw;
                text-decoration: none;
                padding: 1vw 3.5vw;
                color: $main-color;
                font-weight: bold;
                @include mq(md) {
                    padding: 1vw 4.75vw;
                    min-width: 106px;
                }
            }
        }
        .ticket {
            margin: 0;
            padding: 0;
            p {
                margin-top: 1vw;
            }
            a {
                display: inline;
                margin: 0;
                @include mq(md) {
                    margin: 1rem 0 0 0;
                    padding: 1vw 3vw;
                }
            }
        }
    }
    .copy-write {
        text-align: center;
        margin-top: 10vw;
        p{
            font-family: $font-family1;
        }
    }
}
